<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="CSS/login.css">
  <script src="JS/login_script.js"></script>
</head>
<body>

<div class="login-container">
  <h2>Login</h2>
  <div th:if="${param.error}">
    Invalid username and password.</div>
  <div th:if="${param.logout}">
    You have been logged out.</div>
  <form th:action="@{/login}" class="login-form">
    <div class="form-group">
      <label for="username">Email:</label>
      <input type="email" id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <input type="submit" value="Log in" />

<!--    <button onclick="Login(document.getElementById('Email').value,document.getElementById('password').value)">Login</button>-->
  </form>

  <div class="admin-section">
    <p>Admin Section</p>
    <button class="continue-as-customer" onclick="redirectToCustomer()">Continue as Customer</button>
  </div>
</div>

</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--  <title>Please Log In</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Please Log In</h1>-->
<!--<div th:if="${param.error}">-->
<!--  Invalid username and password.</div>-->
<!--<div th:if="${param.logout}">-->
<!--  You have been logged out.</div>-->
<!--<form th:action="@{/login}" method="post">-->
<!--  <div>-->
<!--    <input type="text" name="username" placeholder="Username"/>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label>-->
<!--      <input type="password" name="password" placeholder="Password"/>-->
<!--    </label>-->
<!--  </div>-->
<!--  <input type="submit" value="Log in" />-->
<!--</form>-->
<!--</body>-->
<!--</html>-->